*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  position: relative;
  padding: 2em 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: url('assets/images/background.png') no-repeat center center;
  background-size: cover;
}

body::before {
  position: absolute;
  top: 0;
  left: 0;
   content: " ";
   width: 100%;
   height: 100%;
   background-color: rgba(255, 69, 0, 0.3);
   z-index: 1;
}

body * {
  position: relative;
  z-index: 2;
}

 form.register-form {
  color: white;
  margin: auto;
  background: linear-gradient(45deg, black 50%, orangered);
  border-radius: 0.2em;
  width: 26em;
  padding: 1em 2em;
 }

 .logo {
  width: 7.3em;
  height: 7.3em;
  object-fit: cover;
  object-position: center;
 }

 .pwd-icon {
  input {
    z-index: 1;
  }

  i {
    z-index: 2;
    margin-left: -30px;
  }
}